:root {
    --blue: #2196f3;
    --black: #212121;
    --grey: #757575;
    --background-grey: #2f303a;
    --icon-grey: #afb1b8;
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    color: var(--black);
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    /* outline: 1px dashed var(--blue); */
}
ul,
p,
h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
    list-style: none;
}
.section {
    padding: 94px 0;
}
svg {
    vertical-align: middle;
}

/* HEADER */
.header-wrapper {
    padding: 24px 0 25px 0;
}
.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrapper nav {
    display: flex;
    gap: 93px;
}
.company-name {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.1923;
    text-decoration: none;
}
.logo {
    color: var(--blue);
}
.menu {
    display: flex;
    align-items: center;
    gap: 46px;
}
.nav,
.contact {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    padding-left: 10px;
}
.contact {
    color: var(--grey);
}
.tab {
    color: var(--black);
}
.header-contact-flex {
    display: flex;
    gap: 30px;
    fill: var(--grey);
}
.header-contact-flex span {
    padding-left: 10px;
}
.menu-contact {
    display: flex;
    gap: 50px;
}
.nav {
    transition-property: color, outline, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
}
.nav:hover,
.nav:focus {
    color: var(--blue);
    outline: none;
    fill: var(--blue);
}
.border-nav {
    border-bottom: 1px solid #ececec;
}
.active {
    color: var(--blue);
}
.active::after,
.non-active::after {
    content: '';
    width: 100%;
    height: 4px;
    background-color: var(--blue);
    border-radius: 2px;
    font-size: 0;
    display: block;
    position: absolute;
    top: 45px;
    left: 5px;
}
.non-active::after {
    display: none;
}
.non-active:hover::after,
.non-active:focus::after {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
}

/* EFEKTYWNE ROZWIĄZANIA... */
.solutions {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(../images/bg.jpg);
    text-align: center;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
}
.solutions h1 {
    color: white;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 44px;
    line-height: 1.3636;
    letter-spacing: 0.06em;
    padding: 106px 252px 0;
}

/* BUTTONS */
.main-button {
    margin-top: 30px;
    margin-bottom: 106px;
}
.button {
    background-color: #f5f4fa;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition-property: color, background-color, outline, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.main-button .button {
    color: white;
    background-color: var(--blue);
    font-weight: 700;
    line-height: 1.875;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 41px 10px 42px;
}
.nav-buttons {
    display: flex;
    justify-content: center;
    padding: 94px 0 50px 0;
}
.nav-buttons li {
    margin-right: 8px;
}
.nav-buttons .button {
    padding: 6px 22px 6px 22px;
}
.button:hover,
.button:focus {
    color: white;
    background-color: var(--blue);
    outline: none;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* OKNO MODALNE */
.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 528px;
    min-height: 581px;
    background-color: white;
    border-radius: 14px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
}
.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.4);
    transition-property: transform;
}
.is-hidden {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.33, 0.47, 0.21, 0.67);
}

/* SEKCJA TEKSTOWA LOREM */
.articles {
    color: var(--grey);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7142;
}
.bg-for-icon {
    background-color: #f5f4fa;
    width: 270px;
    height: 120px;
    padding: 25px 100px;
}
.articles h3 {
    color: var(--black);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428;
    list-style: none;
    padding-bottom: 10px;
    padding-top: 30px;
}
.flex-text {
    display: flex;
    gap: 30px;
}

/* CZYM SIĘ ZAJMUJEMY */
.no-margin {
    margin-top: -94px;
}
.section-title {
    color: var(--black);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1666;
    text-align: center;
}
.flex-photos {
    display: flex;
    padding-top: 50px;
    justify-content: center;
    gap: 30px;
    fill: var(--icon-grey);
    position: relative;
}
.box {
    position: relative;
    overflow: hidden;
    display: block;
    font-size: 0;
}
.overlay {
    color: white;
    background-color: rgba(47, 48, 58, 0.8);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 370px;
    height: 70px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1786;
    text-align: center;
}
.text-on-image {
    padding-top: 27px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

/* NASZ ZESPÓŁ */
.our-team {
    background-color: #f5f4fa;
    padding-top: 94px;
}
.our-team li {
    text-align: center;
    background-color: white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.our-team h3 {
    color: var(--black);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    padding-top: 30px;
    padding-bottom: 10px;
}
.profession {
    color: var(--grey);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1875;
}
.flex-icons-contact {
    display: flex;
    gap: 10px;
    padding: 16px 32px 30px 32px;
}
.flex-icons-contact li {
    border: none;
    background-color: white;
    border-radius: 50%;
    padding: 12px;
    box-shadow: none;
    padding: 12px;
    transition-property: background-color, fill, outline;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.flex-icons-contact li:hover,
.flex-icons-contact li:focus {
    background-color: var(--blue);
    fill: white;
    outline: none;
}

/* NASI KLIENCI */
.flex-clients {
    display: flex;
    padding-top: 50px;
    justify-content: center;
    gap: 30px;
    fill: var(--icon-grey);
}
.flex-clients li {
    gap: 34px;
    justify-content: space-between;
    align-items: center;
    transition-property: border-color, background-color, fill, outline;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-border {
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    padding: 16px 32px;
}
.svg-border:hover,
.svg-border:focus {
    fill: var(--blue);
    border-color: var(--blue);
    outline: none;
}

/* MAIN STRONY PORTFOLIO */
.flex-portfolio {
    display: flex;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 94px;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -15px;
}
.portfolio-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project {
    position: relative;
    width: 370px;
    height: 274px;
    overflow: hidden;
}
.description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.description p {
    color: white;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.03em;
    line-height: 1.55;
    margin-left: 24px;
    margin-right: 45px;
}
.project img {
    vertical-align: middle;
}
.project-name {
    padding: 20px 24px 20px 24px;
    border: 1px solid #eeeeee;
    border-top: none;
}
.project-name h3 {
    color: var(--black);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}
.project-name .type {
    color: var(--grey);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.875;
}
.portfolio-item:hover .description,
figure:focus .description {
    transform: translateY(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover,
figure:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
}

/* STOPKA */
.footer-wrapper {
    color: white;
    background-color: var(--background-grey);
    padding: 60px 0;
}
.footer-flex {
    display: flex;
    gap: 70px;
}
.company-name-footer {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.1923;
    text-decoration: none;
}
.company-name-footer:focus,
.company-name:focus {
    outline: none;
}
address {
    padding-top: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7142;
    text-decoration: none;
}
address li {
    padding-top: 9px;
}
.footer-contact {
    color: #ffffff99;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join-us {
    padding-top: 12px;
}
.join-us h3 {
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.03em;
    font-weight: 700;
    text-transform: uppercase;
}
.footer-icons-flex {
    display: flex;
    gap: 10px;
    padding-top: 20px;
    fill: white;
}
.footer-icons-flex li {
    border: none;
    border-radius: 50%;
    padding: 12px;
    background-color: #ffffff1a;
    transition-property: background-color, outline;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icons-flex li:hover,
.footer-icons-flex li:focus {
    background-color: var(--blue);
    outline: none;
}
.footer-contact:hover,
.footer-contact:focus {
    color: var(--blue);
    outline: none;
}
.underline {
    text-decoration: underline;
}
